{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans "My Shop" %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">{% trans "My Shop" %}</a>
        {% get_current_language as language_Code %}
        {% get_available_languages as languages %}
        {% get_language_info_list for languages as langs %}

        <div class="languages">
            <p>{% trans 'languages' %}</p>
            <ul class="languages">
                {% for lang in langs %}
                    <li>
                        <a href="/{{ lang.code }}/"
                           {% if lang.code  == language_Code %}class="selected"{% endif %}>
                            {{ lang.name_local }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    {% trans "Your Cart:" %}
                    <a href="{% url 'cart:cart_detail' %}">
                        {% blocktrans with total=cart.get_total_price count items=total_items %}
                        {{ items }} item,
                        with price ${{ total }}
                        {% plural %}
                        {{ items }} items,
                        with price ${{ total }}
                        {% endblocktrans %}
                    </a>
                {% else %}
                    {% trans "Your Cart is empty" %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>